@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}
@model User

<html>
    <head>
        <title>E-Market</title>
        <link rel="shortcut icon" type="image/png" href="~/materials/market.png">
        <link rel="stylesheet" href="~/Logincss/Login.css">
        
    </head>
    <body>
        <div class="wrapper fadeInDown">
          <div id="formContent">
            <!-- Tabs Titles -->
            <h1 class="active"> Sign In </h1>
            @*<h2 class="inactive underlineHover">Sign Up </h2>*@

            <!-- Icon -->
            <div class="fadeIn first">
              <img src="~/materials/UserLogo.png"  />
            </div>

            <!-- Login Form -->
            <form asp-action="UserLogin" asp-controller="User">
              <input type="email" asp-for="Email" class="fadeIn second"  placeholder="Email" required="">
              <input type="password" asp-for="Password" class="fadeIn third" placeholder="Password" required="">
              <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
            <p style="font-family:sans-serif;font-size:12;">If you are new user, you can create a new account</p>
            <a href="/User/Register"><button class="register__create" type="submit">create account</button></a>
            <a href="/Admin/Addmin"><button class="register__create" type="submit">Login as Admin</button></a>
            <a href="/Home/HomePage"><button class="register__create" >Login as default account </button></a>

            <!-- Remind Passowrd -->
          </div>
        </div>
</body>
</html>

@{
    if (TempData["LoginError"]!=null)
    {
        <script>
           alert("@TempData["LoginError"]")
        </script>
    }
    else if (TempData["Error"] != null)
    {
        <script>
           alert("@TempData["Error"]")
        </script>
    }
}