
@model Comments

@{
    Layout = "/Views/Shared/_Layout.cshtml";
} 

  <!-- Vendor CSS Files -->
  <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="~/assets/css/style.css" rel="stylesheet">

<form asp-action="AddComments" asp-controller="User" style="margin:300px;100px;" >
   

    <div class="form-group mt-3">
        <textarea class="form-control" asp-for="Text"  rows="5" placeholder="Message" required=""></textarea>
    </div>

    <div class="text-center" style="padding-top:7px;">
        
            <button type="submit" style="background: #2487ce;border: 0;padding: 10px 30px;color: #fff;transition: 0.4s;border-radius: 4px;">
             Send a Comment
         </button>
        
    </div>
</form>

@{
    if(TempData["CommentMsg"] != null)
    {
        <script>
            alert(@TempData["CommentMsg"])
        </script>
    }
}